.no-mobile {
  position: fixed; /*Chat에서 스크롤 때문에 제대로 가려지지 않는 문제 해결  - position:fixed 설정*/
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}
